body {
    margin: 0;
}

.App {
    display:flex;
        .List {        
            width:750px;
            background-color: #f4f4f4;
            justify-content:space-evenly;
            
                .Item {
                    height: 180px;
                    background-color:white;
                    box-shadow: 0.5px 0.5px  5px #aaaaaa;
                    padding:50px;
                    width:30%;
                    margin:2%;
                    display:inline-block;
                }
                #amount {
                    text-transform: uppercase;
                    margin-left:2%;
                }
        }
        .Map {
            width:auto;
            background-color:blue;
            height: 100vh;
        }
        .callHotelBtn {
            text-decoration:none;
            background-color: rgb(226, 48, 41);
            color:white;
            padding:5px;
            float:right;
            font-weight:bold;
            border-radius:3px;
        }
}

